{% extends 'partials/base.html' %}

{% block content %}
    <!-- Contact Section -->
    <section class="page-section" id="contact">
            <div class="container">

            <!-- Contact Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                {% if decrypted_message %}
                    {{decrypted_message}}
                {% endif %}
                {% if enable_decryption %}
                    Click below button to decrypt private key.
                    You can onnly do this once. Make sure you copy the secret.
                {% endif %}
            </h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            {% if enable_decryption %}
                <div class="text-center mt-4">
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="POST">
                        {% csrf_token %}
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Show me the secret.</button>
                        </div>
                    </form>
                </div>
            {% endif %}


        </div>
    </section>

{% endblock %}

{% block extra_js %}
{% endblock %}
