{% extends 'partials/base.html' %}

{% block content %}
    {% if message %}
    <!-- Contact Section -->
    <section class="page-section" id="contact">
            <div class="container">
        
            <!-- Contact Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                {{message|safe}}
            </h2>
        
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block extra_js %}
{% endblock %}
